@model QuanLyBanHang.Models.Nhasanxuat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if(ViewBag.flagDelete == true)
    {
        <h2>Xóa thông tin nhà sản xuất</h2>
        <h3>Bạn muốn xóa nhà sản xuất này ?</h3>
    }
    else
    {
        <h3>Bạn không thể xóa nhà sản xuất này!</h3>
    }
}

<div>
    <h4>Nhasanxuat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mansx)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mansx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tennsx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tennsx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @{
            if(ViewBag.flagDelete == true)
            {
                <input type="hidden" asp-for="Mansx" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            }
        }

        <a asp-action="Index">Back to List</a>
    </form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
