@model IEnumerable<QuanLyBanHang.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý Nhân Viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm nhân viên mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tennv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tennv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Manv" class="btn btn-primary">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Manv" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Manv" class="btn btn-danger">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
